*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
strong{
    font-size: 15px;
}
p{
    font-size: 12px;
}
body{
    font-family: 'Open Sans', sans-serif;
}

header{
    padding: 30px 22px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px 10px; */
   
}


.nav .nav-links{

    display: flex;
    align-items: center;
    gap:35px 40px;
    font-size: 12px;
    font-weight: 400;
}

.nav .nav-links ul{
    display: flex;

    list-style-type: none;
    gap: 20px;
}



.btn:hover >*{
    background-color: rgba(19, 19, 88, 0.772);
}
 a{
    display: inline-block;
    padding: 10px 15px;
    background-color: #0061ff;
    color: white;
    text-decoration: none;
}

.hero-section{
    background-color: #b4d0e7;
    margin-bottom: 150px;
 
}

.hero-section .big-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -100px;

}

.hero-section .big-container h1{

    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 800;
    
}

.hero-section .row{
    display: flex;
    justify-content: center;
    gap:40px;
    padding-bottom: 30px;
}



.hero-section .big-container .hero-text{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    font-weight: 400;
    font-size: 12px;
    
}


.hero-text .fa-solid{
    margin-top: 80px;
    font-size: 48px;
}

.hero-section .big-container .hero-img{

    width: 70%;
}

.hero-img img{
    width: 100%;
}

.main{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


.main h2{
 
    margin-bottom: 80px;
    font-size: 30px;
    font-weight: 700;
}

.main  .input-main{
    display: flex;
    margin-bottom: 50px;
    gap: 50px;
}

.checkbox input[type="radio"] {
    display: none; 
}

.checkbox label {
    position: relative;
     padding-left: 30px;
    cursor: pointer;
}

.checkbox label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px; 
    height: 20px; 
    border: 2px solid rgba(42,122,255,255);
    background-color: white; 
    border-radius: 50%;
    box-sizing: border-box;
}

.checkbox input[type="radio"]:checked + label:before {
    background-color: white; 
    border: 6px solid #2a7aff;
}


.main .column{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.main .column .cards{
    border: 2px solid #f3f3f4;
    width:calc(100% / 3 - 50px / 3 * 2);

}

.cards .title{
    padding: 15px 0;
    text-align: center;
    font-size: 15px;
    border-bottom: 2px solid #f3f3f4;
}


.cards .text-card{
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    gap: 25px;
}

.text-card b span{
    font-size: 10px;
    font-weight: 400;
}

.text-card .list-card{
    font-size: 15px;
    margin-bottom: 55px;
}

.list-card li{
    display: flex;
    padding:15px 0 ;
    align-items: first baseline;
    gap: 6px;
}

.list-card .btn-card{
    color: white;
    text-align: center;
}

.option a {
    padding: 0;
    color: #7b53f0;
    text-decoration: underline;
}

.list-card-2 strong{
    display: inline-block;
    margin-bottom: 35px;
}

.list-card-2 .fa-solid{
    color: #57a1ff;
}

.option{
    margin-bottom: 40px;
}

.option a{
    background-color: transparent;
}

.text-card hr{
    border: 1px solid #f3f3f4;
    width: 50px;
    margin-bottom: 50px;
}

.text-card-2 small{
    display: inline-block;
    margin-bottom: 24px;
}

.main  .info{
    margin-bottom: 150px;
    border: 1px solid #f3f3f4;
    
}

.main .info .title{
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #f3f3f4;


}

.enterprise{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 65px;
}

.enterprise .info-text{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    gap: 30px;
}

.info-text .btn{
    align-self: flex-start;
}

.row-main{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 175px;
}

.main  .row-main .main-img{

    width: 60%;
}

.row-main .main-img img{
    width: 100%;
}

.main-text > *{
    margin-top: 30px;
}
.main  .row-main .main-text{
    padding-top: 55px;
    width: 40%;

    font-size: 20px;

}

.row-main .main-text p{
    font-weight: 400;
    font-size: 12px;
}

.main-text .btn-main-text{
    display: inline-block;
    background-color: transparent;
    border: 1px solid black;
    font-size: 12px;
}

.btn-main-text a{
    color: black;
    background-color: transparent;
}

.main  .column-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:40px  30px;
    margin-bottom: 210px;
}

.cards-1 :nth-child(1n + 2){
    margin-top: 30px;
}

.column-2 .cards-1{
    width: calc(100% / 3 - 30px);
    padding-left: 20px;
}

.column-2 .cards-1 img{
    width: 100%;
}


.main  .subtitle{
    margin-bottom: 150px;
}

.subtitle a{
    color: #7b53f0;
    background-color: transparent;
    text-decoration: underline;
    padding: 0;
}

.multi-container{
    height: calc(100vw / 3);
    display: flex;
    position: relative;
    background-color: #f5f5f5;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
}

.small-square{
    width: calc(100% / 2);
    position: relative;

    transition: border-width .5s ease;

    border: 0px solid rgba(255, 255, 255, 0.5);
    
}

.container .small-square:active,
.container .small-square:hover{

    border-width: 16px;
}

svg{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

path{
    fill: white;
}


.square-1{
    background-color: #a2d39b;
}

.square-2{
    background-color:#61082b;
}

.square-3{
    background-color: #0093ce;
}

.square-4{
    background-color: #ff1c1c;
}

.square-5{
    background-color: #d5001f;
}

.square-6{
    background-color: #b4d0e7;
}

.square-7{
    background-color: #0d2481;
}

.square-8{
    background-color:#ffd830;
}
.center{
    padding: 48px;
    height: 100%;
    overflow: auto;
}


.center img{
    margin-bottom: 42px;
    width: 50%;
   
}



 p{
    font-size: 12px;
    font-family: 'open-sans';
}

.center p{
    margin-bottom: 60px;
    
}

.bottom-center{
    background-color:  #f5f5f5;
    width: 100%;
    height: 50px;
    z-index: 1;
}










.call-to-action{
    padding: 150px 0;
    margin-bottom: 175px;
  
    background-color: #b4d0e7;
}

.action-container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.action-text strong{
    font-size: 20px;
    color: #661430;

}

.action-button{
    position: absolute;
    top: 0;
    right:0;
    background-color: #fff;
}

.action-button a{
    color: black;
    font-size: 12px;
}


.question{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

.question-text{
    margin-bottom: 70px;
   
}

.question-text strong{
    font-size: 20px;
}

.question-list{
    border-top: 1px solid #bdbdbd;
}
.sub-list {
    list-style: none;
    border-bottom: 1px solid #bdbdbd;
    padding: 40px 0;

}


.list {
    display: none;
    list-style: none;
    padding: 0;
  }

.list-item:hover .list {
    display: block;
    margin-top: 20px;
    padding-left: 40px;
    list-style-type: circle;
  }

ul{
    list-style-type: none;
}

.list-item{
    position: relative;
}

.list-item::after{
    content: '\f078';
    font-family: 'FontAwesome';
    position: absolute;
    right: 50px;
    top: 0;
}

.list-item:hover  .list-item::after{
    transform: rotate (180deg);
}


footer{
    width: 100%;
    background-color: black;
}

.footer-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

footer .footer-list{
  
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
    
    

}

.footer-list ul{    
    font-size: 12px;
    color:white;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    gap: 20px;
}
.footer-list ul strong{
    display: inline-block;
    margin-bottom: 40px;
}

.footer-container hr{
    width: 130px;
    border: 1px solid white;
}

.footer-link{
    color: white;
    font-size: 12px;
    padding-bottom: 45px;
}

.footer-link a{
    background-color: transparent;
    display: inline-block;
    margin-top: 30px;
    font-size: 12px;
   
}

