*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    padding: 30px 22px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px 10px; */
   
}

.nav .logo{

}

.nav .nav-links{

    display: flex;
    align-items: center;
    gap:35px 40px;
    font-size: 12px;
    font-weight: 400;
}

.nav .nav-links ul{
    display: flex;

    list-style-type: none;
    gap: 20px;
}

.nav .nav-links li{
  /
}

.btn{
    background-color: #0061ff;
}
 a{
    display: inline-block;
    padding: 10px 15px;

    color: white;
    text-decoration: none;
}

.hero-section{
    background-color: #b4d0e7;
    margin-bottom: 150px;
 
}

.hero-section .big-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -100px;

}

.hero-section .big-container h1{

    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 800;
    
}

.hero-section .row{
    display: flex;
    justify-content: center;
    gap:40px;
    padding-bottom: 30px;
}



.hero-section .big-container .hero-text{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    font-weight: 400;
    font-size: 12px;
    
}


.hero-text .fa-solid{
    margin-top: 80px;
    font-size: 48px;
}

.hero-section .big-container .hero-img{

    width: 70%;
}

.hero-img img{
    width: 100%;
}

.main{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


.main h2{
 
    margin-bottom: 80px;
    font-size: 30px;
    font-weight: 700;
}

.main  .input-main{
    display: flex;
    margin-bottom: 50px;
    gap: 50px;
}

.checkbox span{
    font-size: 15px;

}

.main  .column{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.main .column .cards{
    border: 2px solid #f3f3f4;
    width:calc(100% / 3 - 50px / 3 * 2);

}

.cards .title{
    padding: 15px 0;
    text-align: center;
    font-size: 15px;
    border-bottom: 2px solid #f3f3f4;
}


.cards .text-card{
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    gap: 25px;
}

.text-card b span{
    font-size: 10px;
    font-weight: 400;
}

.text-card .list-card{
    font-size: 15px;
    margin-bottom: 55px;
}

.list-card li{
    padding:15px 0 ;
}

.list-card .btn-card{
    color: white;
    text-align: center;
}

.option a {
    padding: 0;
    color: #7b53f0;
    text-decoration: underline;
}

.list-card-2 strong{
    display: inline-block;
    margin-bottom: 35px;
}

.list-card-2 .fa-solid{
    color: #57a1ff;
}

.option{
    padding-bottom: 100px;
}

.text-card-2 small{
    display: inline-block;
    margin-bottom: 24px;
}

.main  .info{
    width: 100%;
    height: 145px;
    background-color: aqua;
    /* prova */
    margin-bottom: 150px;
}

.main .info .title{
    width: 100%;
    height: 22px;
    background-color:brown;
    /* prova */

}

.row-main{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 175px;
}

.main  .row-main .main-img{
   
    height: 290px;
    background-color: yellow;
    /* prova */

    width: 60%;
}

.main  .row-main .main-text{
    height: 170px;
    background-color:yellowgreen;
    /* prova */
    width: 40%;

    align-self: center;
}

.main  .column-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:40px  30px;
    margin-bottom: 210px;
}

.column-2 .cards-1{
    width: calc(100% / 3 - 30px);
    height: 257px;
    background-color: blue;

    /* prova */
    padding-left: 20px;
}

.main  .subtitle{
    width: 330px;
    height: 95px;
    background-color: cadetblue;
    /* prova */
    margin-bottom: 150px;
}

.multi-container{
    height: calc(100vw / 3);
    display: flex;
    position: relative;
    background-color: #f5f5f5;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    border: 3px solid black;
}

.small-square{
    width: calc(100% / 2);
    border: 1px solid red;
}

.square-1{
    padding: 5px;
    background-color: #a2d39b;
}

.square-2{
    background-color:#61082b;
}

.square-3{
    background-color: #0093ce;
}

.square-4{
    background-color: #ff1c1c;
}

.square-5{
    background-color: #d5001f;
}

.square-6{
    background-color: #b4d0e7;
}

.square-7{
    background-color: #0d2481;
}

.square-8{
    background-color:#ffd830;
}

.call-to-action{
    padding: 150px 0;
    margin-bottom: 175px;
  
    background-color: #b4d0e7;
}

.action-container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.action-text{
    width: 270px;
    height: 70px;
    background-color: #fff;

    /* prova */
}

.action-button{
    width: 170px;
    height: 30px;
    background-color: #fff;
    /* prova */
}

.question{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

.question-text{
    width: 220px;
    height: 25px;
    background-color: #61082b;
    /* prova */
    margin-bottom: 70px;
   
}

.question-list{
    border-top: 1px solid #bdbdbd;
}
.sub-list {
    list-style: none;
    border-bottom: 1px solid #bdbdbd;
    padding: 40px 0;

}


.list {
    display: none;
    list-style: none;
    padding: 0;
  }

.list-item:active .list {
    display: block;
  }

ul{
    list-style-type: none;
}

footer{
    width: 100%;
    background-color: black;
}

.footer-container{
    width: 1200px;
    height: 570px;
    margin-left: auto;
    margin-right: auto;
}

footer .footer-list{
  
    display: flex;
    justify-content: space-between;
    padding: 110px 0;
    
    

}

.footer-list ul{    
    width: 95px;
    height: 125px;
    background-color: #fff;

    /* prova */


    display: flex;
    margin-bottom: 60px;
}

footer .footer-link{
    width: 136px;
    border-top:1px solid white ;
}

.footer-link a{
    width: 60px;
    height: 15px;
    background-color: #fff;
    /* prova */

    display: inline-block;
    margin-top: 30px;
   
}